
.terraform/plugins/registry.terraform.io/vmware/nsxt/3.1.0/darwin_amd64/CHANGELOG.md
.terraform/plugins/registry.terraform.io/vmware/nsxt/3.1.0/darwin_amd64/LICENSE.txt
.terraform/plugins/registry.terraform.io/vmware/nsxt/3.1.0/darwin_amd64/README.md
.terraform/plugins/registry.terraform.io/vmware/nsxt/3.1.0/darwin_amd64/terraform-provider-nsxt_v3.1.0
.terraform/plugins/registry.terraform.io/vmware/nsxt/3.1.1/darwin_amd64/CHANGELOG.md
.terraform/plugins/registry.terraform.io/vmware/nsxt/3.1.1/darwin_amd64/LICENSE.txt
.terraform/plugins/registry.terraform.io/vmware/nsxt/3.1.1/darwin_amd64/README.md
.terraform/plugins/registry.terraform.io/vmware/nsxt/3.1.1/darwin_amd64/terraform-provider-nsxt_v3.1.1
.terraform/plugins/selections.json
ipam_SQLite.sql
nsx_connect/.DS_Store
nsx_connect/Includes/__pycache__/__init__.cpython-38.pyc
nsx_connect/Includes/__pycache__/db.cpython-38.pyc
nsx_connect/Includes/__pycache__/mkdir.cpython-38.pyc
nsx_connect/Includes/__pycache__/MyParser.cpython-38.pyc
nsx_connect/nsx/__pycache__/buildTFVars.cpython-38.pyc
nsx_connect/nsx/nsxt_connect_test.py
nsx_connect/nsx/variables.tf
nsx_connect/nsxvariables.tf
terraform.tfstate
terraform.tfstate.backup
test5/.terraform/plugins/registry.terraform.io/vmware/nsxt/3.1.1/darwin_amd64/CHANGELOG.md
test5/.terraform/plugins/registry.terraform.io/vmware/nsxt/3.1.1/darwin_amd64/LICENSE.txt
test5/.terraform/plugins/registry.terraform.io/vmware/nsxt/3.1.1/darwin_amd64/README.md
test5/.terraform/plugins/registry.terraform.io/vmware/nsxt/3.1.1/darwin_amd64/terraform-provider-nsxt_v3.1.1
test5/.terraform/plugins/selections.json
nsx_connect/nsx/__pycache__/buildTFVars.cpython-38.pyc
terraform.tfstate
terraform.tfstate.backup
test5/LICENSE
test5/main.tf
test5/variables.tf
test5/variables.tf_
test5/variables.tf_2
test5/variables.tf__
test5/variables.tf_temp
test5/versions.tf
variables.tf
variables.tf__
variables.tf_temp
versions.tf
nsx_connect/nsx/__pycache__/buildTFVars.cpython-38.pyc
terraform.tfstate
terraform.tfstate.backup
variables.tf
versions.tf
